<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Code analyzers rules with default action" Description="Rules with IsEnabledByDefault = false are disabled." ToolsVersion="16.0">
  <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
    <Rule Id="CA1724" Action="None" />
    <Rule Id="CA2007" Action="Info" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1009" Action="Info" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1111" Action="Info" />
    <Rule Id="SA1503" Action="Info" />
    <Rule Id="SA1600" Action="Info" />
    <Rule Id="SA1615" Action="Info" />
    <Rule Id="SA1633" Action="None" />
  </Rules>
</RuleSet>